body {
    background-color: #1A102B;
    font-family: Arial, Helvetica, sans-serif;
margin: 0%;
color: #E8D8FF;

}
.title{
    color: #9a4dff;
    text-align: center;

}
h5{
    color: #9a4dff;
    text-align: center;
}
h2{
    color: #E8D8FF;
    text-align: center;
}
